.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-link {
    &:hover {
        color: red;
        text-decoration: underline;
    }
    text-decoration: none;
}